@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Caveat';
  src: url(./fonts/Caveat-Regular.ttf);
  src: url(./fonts/Caveat-Bold.ttf);
  src: url(./fonts/Caveat-Medium.ttf);
  src: url(./fonts/Caveat-SemiBold.ttf);
}
